/* public-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/public-sans-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/public-sans-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/public-sans-v18-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/public-sans-v18-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.site-header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-content: inherit;
  flex-direction: row;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.header__link {
  color: #9597a5;
  font-family: "PublicSans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  letter-spacing: -0.108px;
}

.header__invite-box {
  width: 163px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  text-align: center;
  padding: 8px 33px;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

.header__invite-link {
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  line-height: 28px; /* 200% */
}

.btn {
  display: none;
}

@media only screen and (min-width: 320px) {
  .header__list {
    display: none;
  }
  .btn {
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
  }
  .header__invite-box {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .header__list {
    display: flex;
    justify-content: space-between;
    align-content: inherit;
    flex-direction: row;
  }
  .header__invite-box {
    display: block;
  }
  .btn {
    display: none;
  }
}
.banking__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.banking__title {
  width: 394px;
  color: #2d314d;
  font-family: "Public Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 24px;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
}

.banking__info {
  width: 447px;
  display: inline-block;
  color: #9597a5;
  font-family: "PublicSans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 36px;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.281px;
}

.banking__resquit-box {
  width: 163px;
  height: 44px;
  display: block;
  flex-shrink: 0;
  border-radius: 22px;
  padding: 8px 33px;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

.banking__resquit-link {
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  text-decoration: none;
}

.banking__image-item {
  width: 800px;
  height: 900px;
  background-image: url("../images/telephones.svg");
  background-repeat: no-repeat;
  background-size: 1371px;
  background-position: center;
}

@media only screen and (min-width: 320px) {
  .banking__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banking__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  .banking__image-item {
    width: 100%;
    height: 411px;
  }
  .banking__title {
    width: 327px;
    text-align: center;
    margin: 0 auto;
    color: #2d314d;
    text-align: center;
    font-family: "Public Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.714px;
  }
  .banking__info {
    width: 327px;
    color: #9597a5;
    text-align: center;
    font-family: "PublicSans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    letter-spacing: -0.234px;
  }
  .banking__resquit-box {
    width: 163px;
    height: 44px;
    display: block;
    margin: 0 auto;
    text-align: center;
    flex-shrink: 0;
    border-radius: 22px;
    padding: 8px 33px;
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  }
}
@media only screen and (min-width: 1000px) {
  .banking__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .banking__title {
    width: 394px;
    text-align: start;
    color: #2d314d;
    font-family: "Public Sans";
    font-size: 56px;
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 24px;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1px;
  }
  .banking__info {
    width: 447px;
    text-align: start;
    display: inline-block;
    color: #9597a5;
    font-family: "PublicSans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 36px;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.281px;
  }
  .banking__resquit-box {
    width: 163px;
    height: 44px;
    display: block;
    flex-shrink: 0;
    margin: 0;
    text-align: start;
    border-radius: 22px;
    padding: 8px 33px;
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  }
  .banking__resquit-link {
    color: #fff;
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
    text-decoration: none;
  }
  .banking__image-item {
    width: 800px;
    height: 800px;
    background-image: url("../images/telephones.svg");
    background-repeat: no-repeat;
    background-size: 1371px;
    background-position: center;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PublicSans";
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}/*# sourceMappingURL=main.css.map */